/* ============================================================================================================*/
/*                                        Definiciones Generales                                               */ 

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    /* usar 300 - 500 - 700  por defecto 500 para todo el sitio, 300 para textos voluminosos, 700 para resaltados ej. h3*/
}

section {
    padding: 10px 0px;
    min-width: 100%;
}


.card{
    margin: 0% 10% 0% 10%;
}


/* ========================== Main ==========================*/
/*   aplica a: index y contacto                              */

main{   
    display: flex;
    flex-direction: column;
    
    background-image: url(./imagenes/campoLight.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    align-items: center;
    justify-content: center;
    padding: 60px 5% 0px; 
}

.parrafoCentrado {
    font-weight: 300;
       
    color:black;
    /*un minimo de blanco abajo para que se vean mejor las letras */
    background-color: rgba(255, 255, 255, 0.1);
    
}

.tipoProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.tipo{
    display: flex;
    flex-direction: column;
    width: 35%; 
}


.img--tipoProductos {
    width: 100%;
    border-radius: 5%;
}


@media screen and (max-width:480px){
    /* el parrafo optativo lo sacamos cuando vamos a un telefono */
    .parrafoOptativo{
        display: none;
    }

    /* tipos de producto en formato vertical en un celular */
    .tipoProductos{
        align-items: center;
        flex-direction: column;
    }
    .tipo{
        width: 90%;
        padding: 5% 0 0 0;
    }
}

/*========================================================================================*/
/*                                     Main Tienda - formato grilla                       */
.tituloDifusores{
    grid-area: g_tituloDifusores;
}

.difusor1{
    grid-area: g_difusor1 
}

.difusor2{
    grid-area: g_difusor2 
}
.difusor3{
    grid-area: g_difusor3 
}

.tituloAceites{
    grid-area: g_tituloAceites;
}
.aceite1{
    grid-area: g_aceite1;
}
.aceite2{
    grid-area: g_aceite2;
}
.aceite3{
    grid-area: g_aceite3;
}

.grillaDifusoresYAceites{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 4fr 1fr 4fr;
    grid-template-areas:
    "g_tituloDifusores g_tituloDifusores g_tituloDifusores"
    "g_difusor1 g_difusor2 g_difusor3"
    "g_tituloAceites g_tituloAceites g_tituloAceites"
    "g_aceite1 g_aceite2 g_aceite3"
     ;
     grid-column-gap:10%;
     flex-wrap: wrap;
    justify-items: center;
     


}

@media screen and (max-width:480px){
    .grillaDifusoresYAceites{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 4fr 4fr 1fr 4fr 4fr 4fr;
        grid-template-areas:
        "g_tituloDifusores"
        "g_difusor1"
        "g_difusor2" 
        "g_difusor3"
        "g_tituloAceites"
        "g_aceite1"
        "g_aceite2" 
        "g_aceite3";
    }
}



.imagen{
    width: 100%;
    border-radius: 5%;
}



/* ======================  Header : Logo + Nav ======================= */
.header__look{
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    margin: 0;
    padding: 0 10px 0 10px;
}

.nav__color{
    color: brown;
    font-size: 20px;
}
.nav__color:hover{
    color:rgba(255, 255, 255)
}

.navbar-nav li{
    padding-left: 20px;
    padding-right: 20px;
}

/* Al cambiar el color (sin usar fg-light, etc) la hamburguesa deja de verse.
   Consultado en internet (geeksforgeeks.org y otros) se recomienda modificar las siguientes 2 clases
   la primera cambia el color del borde de la hamburguesa y la segunda -en el campo stroke- las lineas de corte */
.toggler__color.navbar-toggler {  
    border-color: rgb(165, 42, 42);
    margin-right: 20px;
} 
.toggler__color .navbar-toggler-icon {  
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(165, 42, 42, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ============================================================================================================*/
/*                                    Elementos generales                                                      */

h2 {
    color:brown;
    text-align: center;
    padding: 20px 0px;
}

h5 {
    font-size: x-large;
}
h6 {
    font-size: medium;
}

.elementoIncrustadoCentrado{
    display: flex;

    border: black;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.scrollText{ 
    width: 90%;
    height: 350px;
    overflow: auto;
    margin: auto;    
}


/*=============================================================================================================*/
/*                                         animaciones                                                         */

.tipo:hover{
    transform: scale(1.1);
    
    
}

.tipo{
    transition: all 2s;
}



/* ============================================================================================================*/
/*                                    Elementos footer                                                         */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    padding: 1% 0 1% 0;
}

i{ font-size: 20px;
    color: brown;
    
}
i:hover{
    font-size: 25px;
    color: black;
}

/* ================================================================================================================*/
/*                                           Form Contacto                                                         */       
.contactos{
    border: rgb(247, 0, 0);
    width: 98%;   
}
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mapa {
    margin: 0%;
    padding: 0%;
}

.mapaa{
  text-align: center;
}

