/* ==========================================================================================================*/
/*                       Definiciones Generales  (todas las paginas)                                         */ 
/* ==========================================================================================================*/

/* --------------------------------------------- Genericas --------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    /* usar 300 - 500 - 700  por defecto 500 para todo el sitio, 300 para textos voluminosos, 700 para resaltados ej. h3*/
}

main{   
    display: flex;
    flex-direction: column;
    
    background-image: url(./imagenes/campoLight.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    align-items: center;
    justify-content: center;
    padding: 60px 5% 0px; 
}

section {
    padding: 10px 0px;
    min-width: 100%;
}

h2 {
    color:brown;
    text-align: center;
    padding: 20px 0px;
}
h5 {
    font-size: x-large;
}
h6 {
    font-size: medium;
}


/* ----------------------------------------- Header : Logo + Nav --------------------------------------------*/
.header__look{
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    margin: 0;
    padding: 0 10px 0 10px;
}

.submenu__look{
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #ade8d3 0%, #aad7d7 75%);
    padding: 0;
    border: 0px;
}

.submenu__item{
    color: brown;
}
.submenu__item:hover{
    color: white;
    background-color: hsl(147, 80%, 83%, 10%);
}

.nav__color{
    color: brown;
    font-size: 20px;
}
.nav_color:hover, .nav_color:focus{
    color:rgba(255, 255, 255)
}

.navbar-nav li{
    padding-left: 20px;
    padding-right: 20px;
}

/* Al cambiar el color (sin usar fg-light, etc) la hamburguesa deja de verse.
   Consultado en internet (geeksforgeeks.org y otros) se recomienda modificar las siguientes 2 clases
   la primera cambia el color del borde de la hamburguesa y la segunda -en el campo stroke- las lineas de corte */
.toggler__color.navbar-toggler {  
    border-color: rgb(165, 42, 42);
    margin-right: 20px;
} 
.toggler__color .navbar-toggler-icon {  
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(165, 42, 42, 0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* ---------------------------------------------    Footer     --------------------------------------------*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    background-color: #aff6cf;
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    padding: .5% 20% 1% 20%;
}

.footerText{
    margin: 0;
    font-size: 15px;
    padding-top: 10px;
    vertical-align: center;
    color: brown;
    text-align: center;
}

i:hover{
    font-size: 18px;
    color: black;
}


/* ==========================================================================================================*/
/*                                           Definiciones Index                                              */ 
/* ==========================================================================================================*/

.parrafoCentrado {
    font-weight: 300;       
    color:black;
    margin-left: 15%;
    margin-right: 15%;
    /*un minimo de blanco abajo para que se vean mejor las letras */
    background-color: rgba(255, 255, 255, 0.1);
}

.my-card-carousel{
    margin: 0% 10% 10% 10%;
}


/* Index: Nuestros productos */
.tipoProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tipo{
    display: flex;
    flex-direction: column;
    width: 35%; 
}


.img--tipoProductos {
    width: 100%;
    border-radius: 5%;
}

/* Animacion nuestros productos*/
.tipo:hover{
    transform: scale(1.1);
}

.tipo{ 
    transition: all 1.5s;
}

.elementoIncrustadoCentrado{    
    display: flex;
    justify-content: center;
}

.video{
    width: 50rem;
    height: 30rem;
}

@media screen and (max-width:480px){
    /* el parrafo optativo lo sacamos cuando vamos a un celular */
    .parrafoOptativo{
        display: none;
    }

    /* tipos de producto en formato vertical en un celular */
    .tipoProductos{
        align-items: center;
        flex-direction: column;
    }
    .tipo{
        width: 90%;
        padding: 5% 0 0 0;
    }
}

@media screen and (max-width:800px){
    .video{
        border: 3px solid #9f98e8;
        width: 380px;
        height: 380px;
    }
}

/* ==========================================================================================================*/
/*                                          Definiciones Tiennda                                             */ 
/* ==========================================================================================================*/

.my-cards{
    padding: 0;
    justify-content: space-between;
    margin-bottom: 0;
}

.difusor,.aceite{
    margin-bottom: 5%;
}
.my-card-body{
    padding: 0;
}

.my-card-title{
    font-size: 1.3rem;
}

.my-card-imagen{
    width: 100%;
    border-radius: 5%;
}

.sameLineJustify{
    display: flex;
    justify-content: space-between;
}
.my-card-text{
    font-size: 1.2rem;
    margin-bottom: .2rem;   
}
.my-card-button {
    background-image: linear-gradient(315deg, #aff6cf 0%, #9f98e8 74%);
    border-radius: .5rem;
    border: 0;
    margin-bottom: .3rem;
}


/* ==========================================================================================================*/
/*                                          Definiciones Contacto                                             */ 
/* ==========================================================================================================*/

.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 0 20% 0 20%;
}

.form__contacto{
    width: 100%;   
    text-align: center;
    border: 2px solid #9f98e8;
    background-color: #aff6cf8f;
}

.color_button_contacto{
    background-color:  #9f98e8;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #9f98e8;
    border: none;
    color: white;
    padding: 6px 36px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  

.bloquesUbicacion{
    width: 50rem;
    height: 600px;
}

.scrollText{ 
    width: 90%;
    height: 350px;
    overflow: auto;
    margin: auto;
    padding: 5px;
    border: 2px solid #9f98e8;
    background-color: #aff6cf8f;
}

@media screen and (max-width:480px){
    .contacto {
        padding: 0 5% 0 5%;
    }
}